<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Trainer</h1>
    <div class="col-6 offset-3">
        <form action="/trainers" method="POST">
            <div class="mb-3">
                <label class="form-label" for="firstName">First Name</label>
                <input class="form-control" type="text" id="firstName" name="trainer[firstName]" placeholder="First Name">
                <label class="form-label" for="lastName">Last Name</label>
                <input class="form-control" type="text" id="lastName" name="trainer[lastName]" placeholder="Last Name">
            </div>
            <div class="mb-3">
                <label class="form-label" for="street" >Address</label>
                <input class="form-control" type="text" id="street" name="trainer[street]" placeholder="Address">
                <input class="form-control" type="text" id="street2" name="trainer[street2]" placeholder="Address cont.">
                <label class="form-label" for="city" >City</label>
                <input class="form-control" type="text" id="city" name="trainer[city]" placeholder="City">
                <label class="form-label" for="state" >State</label>
                <input class="form-control" type="text" id="state" name="trainer[state]" placeholder="State">
                <label class="form-label" for="zip" >Zipcode</label>
                <input class="form-control" type="number" name="trainer[zip]" id="zip" placeholder="Zipcode">
            </div>
            <div class="mb-3">
                <label for="description" class="form-labe">Bio</label>
                <textarea name="trainer[description]" id="description" rows="5" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input type="text" class="form-control" id="image" name="trainer[image]">
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
    