<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
            <div class="card shadow">
                <img src="https://res.cloudinary.com/dotxho3ns/image/upload/v1626701197/TrainMe/static/victor-freitas-Yuv-iwByVRQ-unsplash_twwpzi.jpg" alt="" class="card-img-top" />
                <div class="card-body">
                    <h1 class="card-title">New Trainer Profile</h1>
                    <form action="/trainers" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="firstName">First Name</label>
                            <input class="form-control" type="text" id="firstName" name="trainer[firstName]" placeholder="First Name" required>
                            <label class="form-label" for="lastName">Last Name</label>
                            <input class="form-control" type="text" id="lastName" name="trainer[lastName]" placeholder="Last Name" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="street" >Address</label>
                            <input class="form-control" type="text" id="street" name="trainer[street]" placeholder="Address" required>
                            <div class="invalid-feedback">Please provide a valid address.</div>
                            <input class="form-control" type="text" id="street2" name="trainer[street2]" placeholder="Address cont.">
                            <label class="form-label" for="city" >City</label>
                            <input class="form-control" type="text" id="city" name="trainer[city]" placeholder="City" required>
                            <div class="invalid-feedback">Please provide a valid city.</div>
                            <label class="form-label" for="state" >State</label>
                            <input class="form-control" type="text" id="state" name="trainer[state]" placeholder="State" required>
                            <div class="invalid-feedback">Please provide a valid state</div>
                            <label class="form-label" for="zip" >Zipcode</label>
                            <input class="form-control" type="number" name="trainer[zip]" id="zip" placeholder="Zipcode" required>
                            <div class="invalid-feedback">Please provide a valid zipcode.</div>
                        </div>
                        <div class="mb-3">
                            <h6>What services do you provide?</h6>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="services[]" id="training" value="Training" class="form-check-input">
                                <label for="training" class="form-check-label">Training</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="services[]" id="nutrition" value="Nutrition" class="form-check-input">
                                <label for="nutrition" class="form-check-label">Nutrition</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h6>Where do you provide your services?</h6>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="serviceLocation[]" id="inGym" value="In Gym" class="form-check-input">
                                <label for="inGym" class="form-check-label">In Gym</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="serviceLocation[]" id="inHome" value="In Home" class="form-check-input">
                                <label for="inHome" class="form-check-label">In Home</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="serviceLocation[]" id="outside" value="Outside" class="form-check-input">
                                <label for="outside" class="form-check-label">Outside</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="serviceLocation[]" id="online" value="Online" class="form-check-input">
                                <label for="online" class="form-check-label">Online</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h6>What certifications do you have?</h6>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="certification[]" id="issa" value="ISSA" class="form-check-input">
                                <label for="issa" class="form-check-label">ISSA</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="certification[]" id="ncsf" value="NCSF" class="form-check-input">
                                <label for="ncsf" class="form-check-label">NCSF</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="certification[]" id="fm" value="FM" class="form-check-input">
                                <label for="fm" class="form-check-label">FM</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="certification[]" id="ace" value="ACE" class="form-check-input">
                                <label for="ace" class="form-check-label">ACE</label>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" name="certification[]" id="nasm" value="NASM" class="form-check-input">
                                <label for="nasm" class="form-check-label">NASM</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Bio</label>
                            <textarea name="trainer[description]" id="description" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Add Your Profile Picture</label>
                            <input type="file" name="image" id="image" class="form-control">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    